body{
    background-image: url("Images/background.png");
    background-repeat: no;
    background-size: cover;
}
#heading{
    color: brown;
    position:relative;
    text-align: center;
}

#textinputdiv{
    margin: auto;
    width: 40%;
    padding: 10px;
}

#textinput {
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    border: solid 2px #BBB;
}

#textbuttondiv{
    margin: auto;
    width: 40%;
}

#textbuttondiv button {
    padding:10px;
    background-color:#6a67ce;
    color: #FFFFFF;
    border: 0px;
    cursor:pointer;
    border-radius: 5px;
}

form {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  height: 15px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}